---
import heroImage from "../../assets/images/hero.jpg"
import patronesImage from "../../assets/images/patrones3.jpg"
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
---

<section
	id="hero"
	style={{'--image-url': `url(${patronesImage.src})`}}
	class="relative mb-14 flex min-h-[60svh] w-full bg-[image:var(--image-url)] bg-lime-200 bg-blend-multiply pb-24"
>
	<!-- hero items -->
	<div class="mx-auto flex items-center pt-16">
		<!-- Hero text -->
		<div class="container mx-auto max-w-4xl gap-8 py-20 text-center md:pt-32">
			<h1 class="text-4xl font-semibold sm:text-5xl md:text-6xl lg:text-7xl">
				Juntos Podemos hacer la
				<span class="main-text-gradient"> Diferencia</span>
			</h1>
			<p class="description mx-auto mt-6 max-w-xs sm:max-w-sm md:max-w-lg">
				En Fundacion Ayudame a Ayudarme, nuestra pasión es ayudar.
				Nos dedicamos a combatir el hambre infantil y apoyar a personas con discapacidades en Barranquilla
			</p>
			<div class="mx-auto mt-8 flex max-w-lg flex-col gap-3 px-6 xs:flex-row">
				<Button
					variant="primary"
					href="/donation"
					class="mx-auto"
				>
					Dona a nuetros proyectos!
				</Button>
			</div>
		</div>
	</div>
</section>


