@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css("fonts");

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		--font-fallback: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica",
			"Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

		font-family: "Inter", var(--font-fallback);
		font-feature-settings:
			"liga" 1,
			"calt" 1; /* fix for Chrome */
	}

	@supports (font-variation-settings: normal) {
		:root {
			font-family: "InterVariable", var(--font-fallback);
		}
	}

	html {
		@apply text-base leading-[1.6rem] text-base-900;
		scroll-behavior: smooth;
	}

	::-webkit-scrollbar {
		@apply h-1 w-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-inherit;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full bg-base-400 bg-opacity-90;
	}
}

/*  things in the components layer can be overriden with utility classes. 
    Useful for custom styles on third-party components, and things like 
    btn, card, badge, etc  */
@layer components {
	@include meta.load-css("buttons");
	@include meta.load-css("prose");

	.h1 {
		@apply text-3xl font-semibold md:text-4xl lg:text-5xl;
	}

	.h2 {
		@apply text-2xl font-semibold md:text-3xl;
	}

	.h3 {
		@apply text-lg font-semibold md:text-xl;
	}

	.description {
		@apply opacity-90 md:text-lg;
	}

	.container {
		@apply mx-auto max-w-6xl px-4;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus {
		@apply focus:outline-none focus-visible:rounded-sm focus-visible:outline-lime-800;
	}

	/* main gradient. Used for categories and some headings */
	.main-text-gradient {
		@apply bg-gradient-to-r from-lime-700 to-yellow-500 bg-clip-text text-transparent;
	}
}
