---
import { slugify, categorify } from "@js/textUtils";

interface Props {
	category: string;
	class?: string;
}

const { category, class: className } = Astro.props as Props;
---

<a href={`/categories/${slugify(category)}/`} class={`main-text-gradient font-medium ${className}`}>
	{categorify(category)}
</a>
