---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";
import hero from "@assets/images/hero.jpg"
import Button from "@components/Button/Button.astro";
import { Image } from "astro:assets";

---

<BaseLayout
	title={`Donacion`}
	description={`Formulario de donacion`}
>
<div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="relative isolate overflow-hidden bg-lime-600 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
        <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#ebe016" />
              <stop offset="1" stop-color="#fff208" />
            </radialGradient>
          </defs>
        </svg>
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-semibold tracking-tight text-balance text-white sm:text-4xl">Campaña de alimentacion para los infantes.</h2>
          <p class="mt-6 text-lg/8 text-pretty text-gray-300">Puedes apoyar esta causa desde $1/mes o puedes ajustar el monto al tamaño de tu solidaridad, se te asignara como padrino de un infante.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            <Button
					variant="primary"
					href="/donation"
					class="mx-auto"
				>
					Dona a la causa!
				</Button>
            <a href="#" class="text-sm/6 font-semibold text-white">Conocer mas<span aria-hidden="true">→</span></a>
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <!-- <img class="absolute top-0 left-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="../assets/images/hero.jpg" alt="App screenshot" width="1824" height="1080"> -->
          <Image
            src={hero}
            alt="Fundacion Hero"
            loading="eager"
            width={2000}
            height={500}
            class="absolute top-10 left-0 w-[57rem] max-w-lg rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem] md:-ml-4 lg:-ml-0"
        />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="relative isolate overflow-hidden bg-lime-600 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
        <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#ebe016" />
              <stop offset="1" stop-color="#fff208" />
            </radialGradient>
          </defs>
        </svg>
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-semibold tracking-tight text-balance text-white sm:text-4xl">Campaña de alimentacion para los infantes.</h2>
          <p class="mt-6 text-lg/8 text-pretty text-gray-300">Puedes apoyar esta causa desde $1/mes o puedes ajustar el monto al tamaño de tu solidaridad, se te asignara como padrino de un infante.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            <Button
					variant="primary"
					href="/donation"
					class="mx-auto"
				>
					Dona a la causa!
				</Button>
            <a href="#" class="text-sm/6 font-semibold text-white">Conocer mas<span aria-hidden="true">→</span></a>
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <!-- <img class="absolute top-0 left-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="../assets/images/hero.jpg" alt="App screenshot" width="1824" height="1080"> -->
          <Image
            src={hero}
            alt="Fundacion Hero"
            loading="eager"
            width={2000}
            height={500}
            class="absolute top-0 left-0 w-[57rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem] md:-ml-4 lg:-ml-0"
        />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="relative isolate overflow-hidden bg-lime-600 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
        <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#ebe016" />
              <stop offset="1" stop-color="#fff208" />
            </radialGradient>
          </defs>
        </svg>
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-semibold tracking-tight text-balance text-white sm:text-4xl">Campaña de alimentacion para los infantes.</h2>
          <p class="mt-6 text-lg/8 text-pretty text-gray-300">Puedes apoyar esta causa desde $1/mes o puedes ajustar el monto al tamaño de tu solidaridad, se te asignara como padrino de un infante.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            <Button
					variant="primary"
					href="/donation"
					class="mx-auto"
				>
					Dona a la causa!
				</Button>
            <a href="#" class="text-sm/6 font-semibold text-white">Conocer mas<span aria-hidden="true">→</span></a>
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <!-- <img class="absolute top-0 left-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="../assets/images/hero.jpg" alt="App screenshot" width="1824" height="1080"> -->
          <Image
            src={hero}
            alt="Fundacion Hero"
            loading="eager"
            width={2000}
            height={500}
            class="absolute top-0 left-0 w-[57rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem] md:-ml-4 lg:-ml-0"
        />  
        </div>
      </div>
    </div>
  </div>
  

</BaseLayout>