---
import { Image } from "astro:assets";

// data
import siteData from "@config/siteData.json";

// images
import logo from "@images/logo.png";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<Image
		src={logo}
		alt="Fundacion Logo"
		loading="eager"
		width={100}
		height={100}
		class="h-35 w-35"
	/>
	<div class="xl:text-2xl md:text-md font-semibold ml-2">{siteData.name}</div>
</a>
